<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Hello World</h1>
    <p>{{count}}</p>
    <p>{{message}}</p>
    <ion-button color="primary" (click)="incrementPressed()">Increase</ion-button>
    <ion-button color="secondary" (click)="decrementPressed()">Decrease</ion-button>
    <ion-button color="tertiary" (click)="resetPressed()">Reset</ion-button>
    <ion-button color="danger" (click)="alertPressed()">Show Alert</ion-button>
    <ion-button color="primary" (click)="toastPressed()">Show Toast</ion-button>
    <ion-button color="secondary" (click)="actionPressed()">Show Action Sheet</ion-button>
    
  </div>
</ion-content>
